@media screen and (min-width:1440px) {
    .product-card {
       display: flex;
       max-width: 700px;
    }
 
    .product-img {
       width: 50%;
       background-image: url('../assets/images/image-product-desktop.jpg');
       background-position: center;
       border-top-right-radius: 0;
       border-bottom-left-radius: 10px;
    }
 
    .product-details {
       display: flex;
       flex-direction: column;
       gap: 10px;
       width: 50%;
       padding: 2.5rem;
    }
 
    .product-title {
       font-size: 2.5rem;
    }
 
    .product-description {
       font-size: 1rem;
    }
 
    .cart-btn {
       padding-block: 1em;
    }
 }